/venv/
/.idea/
/.vscode/
__pycache__/
/db.sqlite3
/db_setting.cnf
/model/emotional_recognition/model_U.pth
/model/microexpression_recognition/model/checkpoint
/model/microexpression_recognition/model/emotion_model-30001.data-00000-of-00001
/model/microexpression_recognition/model/emotion_model-30001.index
/model/microexpression_recognition/model/emotion_model-30001.meta
/templates/
/*/migrations/*
!/*/migrations/__init__.py
/resource/detection_image/*.jpg