/venv/
/.idea/
/.vscode/
__pycache__/
/db.sqlite3
/db_setting.cnf
/templates/
/*/migrations/*
!/*/migrations/__init__.py

/resource/detection_image/*.jpg
/resource/face_image/*.jpg
/resource/intrusion_video/*.mp4
/resource/three2two/image/*.png
/resource/three2two/ply/*.ply

/model/emotional_recognition/model_U.pth
/model/microexpression_recognition/model/checkpoint
/model/microexpression_recognition/model/emotion_model-30001.data-00000-of-00001
/model/microexpression_recognition/model/emotion_model-30001.index
/model/microexpression_recognition/model/emotion_model-30001.meta
/model/isLive/gaze_tracking/trained_models/shape_predictor_68_face_landmarks.dat
/model/gaze_vector/checkpoint.pt
/model/image_caption/models/*.pth
/model/fall-detect-track/Models/